
  <div class="row">
    <div class="col-md-8">
      <table class="table mt-5 mb-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Linea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos" >
            <th scope="row">{{vehiculo.id}}</th>
            <td>{{vehiculo.marca}}</td>
            <td>{{vehiculo.linea}}</td>
            <td>{{vehiculo.modelo}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="resultado">{{contarVehiculos(vehiculos)}}  {{resultado}}</div>
